<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'logo_clean.png' %}" type="image/x-icon">
    <style>
        body {
            background-image: url("{% static 'background.png' %}");
            background-size: cover;          
            background-repeat: no-repeat;  
            background-attachment: fixed;    
        }
    </style>
</head>
<body>
<main>
    <div class="container">
        <header class="border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <div class="fs-2 mb-3" id="title-box" style="background: linear-gradient(135deg, #f85032, #e73827); color: white; padding: 15px; border-radius: 8px;">
                    <img src="{% static 'logo_clean.png' %}" alt="Проект про математику" width="64" height="64"/>
                    <span>Математическая энциклопедия</span>
                </div>
            </a>
        </header>
        <div class="p-5 mb-4 rounded-3" id="title-box" style="background: linear-gradient(135deg, #3498db, #9b59b6); color: white;">
            <div class="container-fluid py-5">
                <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>
                <p class="col-md-8 fs-4">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© 2025</footer>
    </div>
</main>

