{% extends "base_page.html" %}


{% block page-title %}
<div style="text-align: center;">
    <p style="font-size: 0.7em;">Form for adding a new term</p>
</div>
{% endblock %}

{% block page-lead %}
<div style="text-align: center;">
    <p style="font-size: 2em;">You can add more terms to our library below. </p>
    <p style="font-size: 1em;">Please note that your data is not stored or shared with third parties.</p>
  </div>

{% endblock %}



{% block content %}
<div class="container-sm px-5 py-5" id="term-form" style="background: linear-gradient(135deg, #a4d0ff, #68a0cf); border-radius: 8px;">
    <form method="post">
        <div class="row px-5 py-2">
            <h3 style="color: #fff;">Your contacts</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name" style="color: #fff;">Your name/surname:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="John" style="background-color: #fff; color: #000;" required>
            </div>
            <div class="col-md-6">
                <label for="email" style="color: #fff;">Your contact email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="johnsmith@ggmail.com" style="background-color: #fff; color: #000;" required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3 style="color: #fff;">Your term</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_term" style="color: #fff;">Term</label>
                <input type="text" class="form-control input-lg" name="new_term" id="new_term" style="background-color: #fff; color: #000;">
            </div>
            <div class="col-md-8">
                <label for="new_definition" style="color: #fff;">Explanation of the term</label>
                <textarea class="form-control input-lg" name="new_definition" id="new_definition" aria-describedby="definition_note" rows="3" style="background-color: #fff; color: #000;"></textarea>
                <div id="definition_note" class="form-text" style="color: #fff;">Be brief in your statements</div>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn" formaction="/send-term-en" style="background: linear-gradient(135deg, #ff5f6d, #ffc371); border: none; color: #fff; font-weight: bold;">Send</button>
        </div>
    </form>
</div>
{% endblock %}
